<h4>New Pet Form</h4>
<%= form_for @pet do |f| %>
<p>
    <%= f.text_field :name %>
</p>
<%= f.collection_select :species,Pet.species_types, :to_s,:to_s, include_blank: true %>
<p>
    <%= f.submit :submit %>
</p>
<% end %>